@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0; }

#SinPadding {
  padding: 0; }

.container-fluid {
  background: linear-gradient(to right top, white, #0fda3b); }

header {
  background-color: #126112;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /*Z-INDEX*/
  z-index: 2; }

.logo {
  margin-left: 20px; }

.navbar-nav {
  background-color: #126112 !important;
  margin: 0%; }

.container-fluid header nav ul li a {
  color: orange !important; }

.navbar-toggler-icon {
  background-color: #126112 !important; }

/* -----------------------Clases para para pagina de contacto------------------------*/
.seccion-contacto {
  background: linear-gradient(to top right, #045224, whitesmoke); }

.contacto-ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: content;
  background: linear-gradient(to top right, #3a2507, #f5e720);
  box-shadow: 7px 13px 37px #000;
  margin: 10px;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  padding-bottom: 10px; }
  .contacto-ubicacion h1 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase; }

.contenedor {
  background-color: #55728f;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 10px;
  box-shadow: 7px 13px 37px #000;
  padding: 10 px; }
  .contenedor h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase; }

.control {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #1f53c5;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }
  .control:focus {
    height: 60px; }

.boton, .boton--borrar {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #005aa7, #fffde4);
  font-size: 20px; }
  .boton:hover, .boton--borrar:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s; }
  .boton:active, .boton--borrar:active {
    transform: translateY(3px); }

.boton--borrar {
  background: linear-gradient(to left top, #ce1d1d, #fffde4); }

.imagenGaleria {
  height: 200px;
  filter: grayscale(50%); }

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; }

.carousel-caption {
  position: absolute;
  padding: 5px;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(83, 79, 79, 0.4);
  /* Añadir para conseguir el fondo con opacidad */
  font-weight: bold; }

.productos {
  background-image: radial-gradient(circle at 29.63% 20.91%, #8c7d0f 0, #8a710b 10%, #86640a 20%, #7e5609 30%, #724709 40%, #643708 50%, #552805 60%, #471c00 70%, #3b1200 80%, #310900 90%, #2a0000 100%); }

.textoTecnoAgro {
  background-image: radial-gradient(circle at 87.5% 12.5%, #b6ff43 0, #95ff45 16.67%, #69fa45 33.33%, #0ced43 50%, #00e044 66.67%, #00d54b 83.33%, #00ce56 100%) p;
    background-image-height: 100%;
    background-image-text-align: left;
    background-image-padding-left: 3%; }
  .textoTecnoAgro ul {
    height: 100%;
    text-align: left;
    padding-left: 5%; }

.servicios {
  opacity: 0.8;
  background-image: url("../img/servicios.png");
  background-size: 100% 100%;
  text-shadow: white; }
  .servicios p {
    color: blue; }

/* SECCION FOOTER */
footer {
  background-color: #0d4d17;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px; }
  footer ul li {
    list-style-type: none; }
    footer ul li a {
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: whitesmoke;
      border-radius: 4px; }
  footer h4 {
    color: #b9f0b9; }
  footer p {
    color: whitesmoke;
    margin-bottom: 5px; }

/* BOTON DE WHATSAPP */
.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px; }
