/* SECCION FOOTER */

footer {
    background-color:rgb(13, 77, 23);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    ul li {
        list-style-type: none;
        a {
            margin-left: 15px;
            text-transform: uppercase;
            font-weight: bold;
            color: whitesmoke;
            border-radius: 4px;
        }
    }
    h4 {
        color: rgb(185, 240, 185);
    }
    p{
        color:whitesmoke;
        margin-bottom: 5px;        
    }
}
/* BOTON DE WHATSAPP */

.botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}