//GENERAL
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}
#SinPadding{
    padding:0;
 }
 .container-fluid{
    background: $indexPage_bkg;
}
.body
{
    height: 100vh;
}