//--HEADER

header {
    background-color:map-get($estilo_base, bkg_color);
    width: 100%;
    //height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    /*Z-INDEX*/
    z-index: 2;
}
.logo {
    margin-left: 20px;
}
.navbar-nav{
   background-color: map-get($estilo_base, bkg_color)!important;
    margin: 0%;
}
.container-fluid header nav ul li a{
    color: orange !important;
}
.navbar-toggler-icon{
    background-color:map-get($estilo_base, bkg_color)!important;
}